/*===== Google Fonts =====*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches');

/*===== Variables ======*/
$primary-font: 'Staatliches', serif;
$secondary-font: 'Montserrat', sans-serif;

/*===== Mixins =====*/

/*===== General Styling =====*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  border-radius: 0;
}

/*===== Media Queries =====*/

// Phones (200px and up)
@media (min-width: 200px) {
    
}

// Tablets (700px and up)
@media (min-width: 700px) {

}

// Laptops (1000px and up)
@media (min-width: 1000px) {

}

// Desktops (2500px and up)
@media (min-width: 2500px) {

}