/*===== Google Fonts =====*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches');

/*===== Variables ======*/
$primary-font: 'Staatliches', serif;
$secondary-font: 'Montserrat', sans-serif;

$primary-color: #d4af37;

/*===== Mixins =====*/

/*===== General Styling =====*/
//No white space
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  border-radius: 0;
}

//Hamburger Button
.navbar > .navbar-toggler > .navbar-toggler-icon {
  background-image: url("../img/hamburger.png");
}

/*===== Media Queries =====*/

// Phones (200px and up)
@media (min-width: 200px) {

  //Navigation Bar
  //Navigation Bar

  //Header
  //Header

  //Picture Carousel
  //Picture Carousel

  //News Feed
  //News Feed

  //Footer
  //Footer
    
}

// Tablets (700px and up)
@media (min-width: 700px) {

  //Navigation Bar
  //Navigation Bar

  //Header
  //Header

  //Picture Carousel
  //Picture Carousel

  //News Feed
  //News Feed

  //Footer
  //Footer

}

// Laptops (1000px and up)
@media (min-width: 1000px) {

  //Navigation Bar
  .navbar {
    background-color: black;
    display: flex;
  }

  .navbar > .navbar-collapse {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-item {
    color: white;
    font-family: $primary-font;
    font-size: 1.4em;
  }

  .nav-item:hover {
    color: $primary-color;
  }
  //Navigation Bar

  //Header
  //Header

  //Picture Carousel
  //Picture Carousel

  //News Feed
  //News Feed

  //Footer
  //Footer

}

// Desktops (2500px and up)
@media (min-width: 2500px) {

  //Navigation Bar
  //Navigation Bar

  //Header
  //Header

  //Picture Carousel
  //Picture Carousel

  //News Feed
  //News Feed

  //Footer
  //Footer

}